<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yang.bluetoothlist">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>  // 위치 관련 권한
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>    // 위치 관련 권한  (마시멜로 버전부터 블루투스시 위치(GPS) 권한 필요

    <uses-permission android:name="android.permission.BLUETOOTH" />           // 연결 요구, 수락, 데이터 전송등 블루투스 통신 권한
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />     // 디바이스 검색, 블루투스 설정 조작 권한


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>




</manifest>